body {
  background-color: #eee;
  color: #333;
}

.full-strip {
    background:$modBlue;
    color:white;
    padding:0.25em 0.5em 0 0.5em;
    border-bottom:4px solid #2A5182;
    box-shadow: 0 0 6px rgba(10,10,10,0.96);
    time {
        color:#eee;
        font-family:$helvetica;
    }
}

table {
    @extend %table;
}

.block-wrapper {
  padding: 0 0 15px 15px;
  overflow: hidden; // reset float
}

.block {
  &:nth-child(odd) {
    clear: left;
  }
  width: 50%;
  padding: 15px 15px 0 0;
  float: left;

  .inner {
    border: 1px solid #ccc;
    background-color: white;
    padding: 15px;
  }

  h2 {

  }

  .description {

  }
}

.graph-container {
  position: relative;

  .chart {
    position: relative;
    left: 50px;
    width: 100%;
    height: 250px;
  }

  .y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
  }
}
