/* component */
%table {
    td {
        padding:0.5em 1em;
    }
    thead {
        td {
            font-weight:bold;
            font-size:80%;
        }
    }
    tbody {   
        tr {
            @include transition(background-color, 180ms ease-in);
            &:nth-child(odd) {
                background-color:rgba(white,0.8);
            }
            @include media($gtDesktop) {
                &:hover {
                    background-color:rgba($modBlue,0.9);
                    color:white;
                }
            }
        }
    }
}